* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(88 , 241 , 255);
}

.title {
  font-family: Impact, Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  line-height: 1;
}

#meme-image-container {
  position: relative;
  background-color: white;
  height: 300px;
  width: 300px;
}

#meme-image {
  display: block;
  height: 299px;
  width: 299px;
}

#meme-text {
  position: absolute;
  bottom: 30px;
  left: 10px;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
}

/* #buttons {
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 650px;
  padding: 10px;
} */

.meme-img {
  border: 2px solid white;
}

#fire {
  background-color: red;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  box-shadow: 2px 2px 1px gray;
  border: 8px dashed white;
  text-shadow: 1px 1px 1px black;
}

#water {
  background-color: blue;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  box-shadow: 2px 2px 1px gray;
  border: 8px double white;
  text-shadow: 1px 1px 1px black;
}

#earth {
  background-color: green;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  box-shadow: 2px 2px 1px gray;
  border: 8px groove white;
  text-shadow: 1px 1px 1px black;
}

#fire:hover , #water:hover , #earth:hover {
  box-shadow: 8px 8px 5px gray;
  cursor: pointer;
}

.deafultBorder {
  border: 1px solid black;
}

.fire {
  border: 3px dashed red;
}

.water {
  border: 5px double blue;
}

.earth {
  border: 6px groove green;
}
